.list{
    display: block;
    list-style-type: none;
    margin-top: 0px;
    border: 1px solid #a0a096;
    border-radius: .5em;
    height: max-content;
    width: max-content;
}

.list:empty { 
    border: none;
}